.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    margin: auto;
  }
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  .reset__textBox {
    padding: 5px;
    font-size: small;
    margin-bottom: 10px;
  }
  .reset__btn {
    padding: 5px;
    font-size: small;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: rgb(0, 110, 255);
  }
  .reset div {
    margin-top: 7px;
  }